In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("final_zomato.csv")

In [3]:
df

,Unnamed: 0,Restaurant_id,C,Name,Ratings,Price for one,Cuisines,Delivery_reviews_Count,Restaurant_address,Latitude,Longtitude
0,0,R0,Arabian,Le Arabia Restaurant,3.5,250,"Arabian, Biryani, North Indian, Chinese, Fast ...",1892,"Vijay Nagar, Bangalore",12.959769,77.531760
1,1,R1,Chinese,Hotel Revoli Inn,3.9,250,"Chinese, North Indian, Mughlai",1862,"Shanti Nagar, Bangalore",12.955977,77.592071
2,2,R2,Bakery,Bakingo,4.2,250,"Bakery, Desserts",748,"Vasanth Nagar, Bangalore",12.994415,77.593820
3,3,R3,Burger,Truffles,4.3,250,"Burger, American, Bakery, Italian, Oriental, C...",1822,"St. Marks Road, Bangalore",12.971928,77.601063
4,4,R4,Burger,McDonald's,3.9,250,"Burger, Fast Food",5809,"MG Road, Bangalore",12.976022,77.598278
...,...,...,...,...,...,...,...,...,...,...,...
2090,2090,R408,Ice Cream,Udupi Upachar,3.8,100,"South Indian, North Indian, Chinese, Street Fo...",7800,"Banashankari, Bangalore",12.920783,77.569428
2091,2091,R430,Desserts,Aligarh House- Mughlai Biryani,4.0,200,"Biryani, Mughlai, Kebab, North Indian, Lucknow...",237,"Cunningham Road, Bangalore",12.986283,77.594839
2092,2092,R434,Desserts,Malabar Bay,3.5,200,"Kerala, Seafood, North Indian, Biryani, Chines...",9474,"BTM, Bangalore",12.935452,77.607678
2093,2093,R457,Fast Food,Savji's Roll 'N' Biryani,4.0,200,"North Indian, Chinese, South Indian, Rolls, Bi...",15600,"Vijay Nagar, Bangalore",12.971595,77.546942
2094,2094,R467,Desserts,Burnout Cafe,3.3,100,"Cafe, Beverages, Continental, Italian, Chinese...",81,"Infantry Road, Bangalore",12.979776,77.603720

In [4]:
df.drop(['Unnamed: 0', 'Restaurant_id', 'Name', 'Ratings','Cuisines', 'Delivery_reviews_Count','Latitude','Longtitude'],axis=1,inplace=True)

In [5]:
df

               C  Price for one          Restaurant_address
0        Arabian            250      Vijay Nagar, Bangalore
1        Chinese            250     Shanti Nagar, Bangalore
2         Bakery            250    Vasanth Nagar, Bangalore
3         Burger            250   St. Marks Road, Bangalore
4         Burger            250          MG Road, Bangalore
...          ...            ...                         ...
2090   Ice Cream            100     Banashankari, Bangalore
2091    Desserts            200  Cunningham Road, Bangalore
2092    Desserts            200              BTM, Bangalore
2093   Fast Food            200      Vijay Nagar, Bangalore
2094    Desserts            100    Infantry Road, Bangalore

[2095 rows x 3 columns]

In [36]:
# One-hot encoding

In [7]:
df2=pd.get_dummies(df,columns=['C','Restaurant_address'])

In [8]:
df2

,Price for one,C_ Afghan,C_ American,C_ Andhra,C_ Arabian,C_ Asian,C_ BBQ,C_ Bakery,C_ Bengali,C_ Beverages,...,"Restaurant_address_Shivajinagar, Bangalore","Restaurant_address_Sigma Mall, Cunningham Road, Bangalore","Restaurant_address_St. Marks Road, Bangalore","Restaurant_address_Thippasandra, Bangalore","Restaurant_address_UB City, Bangalore","Restaurant_address_Ulsoor, Bangalore","Restaurant_address_Vasanth Nagar, Bangalore","Restaurant_address_Vijay Nagar, Bangalore","Restaurant_address_Wilson Garden, Bangalore","Restaurant_address_Yeshwantpur, Bangalore"
0,250,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,250,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,250,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,250,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,250,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2090,100,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2091,200,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2092,200,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2093,200,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2094,100,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
x=df2.drop(['Price for one'],axis=1)
x

,C_ Afghan,C_ American,C_ Andhra,C_ Arabian,C_ Asian,C_ BBQ,C_ Bakery,C_ Bengali,C_ Beverages,C_ Biryani,...,"Restaurant_address_Shivajinagar, Bangalore","Restaurant_address_Sigma Mall, Cunningham Road, Bangalore","Restaurant_address_St. Marks Road, Bangalore","Restaurant_address_Thippasandra, Bangalore","Restaurant_address_UB City, Bangalore","Restaurant_address_Ulsoor, Bangalore","Restaurant_address_Vasanth Nagar, Bangalore","Restaurant_address_Vijay Nagar, Bangalore","Restaurant_address_Wilson Garden, Bangalore","Restaurant_address_Yeshwantpur, Bangalore"
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2090,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2091,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2092,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2093,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2094,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
y=df2['Price for one']
y

0       250
1       250
2       250
3       250
4       250
       ...
2090    100
2091    200
2092    200
2093    200
2094    100
Name: Price for one, Length: 2095, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [13]:
y_train

1380    250
645     150
1720    350
481     150
643     150
       ...
1071    100
433     200
674     350
1099    100
1608    250
Name: Price for one, Length: 1676, dtype: int64

In [37]:
# Decision tree model

In [14]:
from sklearn.tree import DecisionTreeClassifier
dc=DecisionTreeClassifier()

In [15]:
dc.fit(x_train,y_train)

DecisionTreeClassifier()

In [16]:
y_pred=dc.predict(x_test)

In [17]:
y_pred

array([ 50, 250, 200, 150, 300, 150, 250, 200, 150, 250, 150, 100, 150,
       150, 200, 250, 250, 150, 150, 100, 150,  50, 150, 150, 150, 250,
       100, 250, 150, 250, 150, 150, 100, 250,  50, 150, 150, 100, 100,
       150,  50, 100, 150, 250, 100, 250, 150, 150, 150,  50,  50, 150,
       250,  50, 200, 100,  50, 150, 250, 100, 150, 150, 250, 100, 150,
       150, 100, 100,  50,  50, 100, 150, 150, 150, 150, 200, 100, 100,
       150, 250, 150, 200,  50, 250, 150,  50, 150, 100, 250, 200, 200,
       150, 250, 150,  50, 150, 150, 100, 250, 250, 200,  50, 350, 100,
       100, 200, 200,  50, 300, 150, 200, 150, 150, 150,  50,  50, 200,
       200, 200, 150, 150, 150, 200, 150, 150, 150, 250, 350, 250, 200,
       150, 150, 150, 100,  50, 150,  50, 150,  50, 150,  50, 200, 250,
       150, 150,  50, 150, 250, 150, 200, 100, 200, 150, 250, 100, 100,
       150, 200, 300, 200, 200, 150, 100, 200, 350, 150, 200, 100, 150,
       150, 250, 150, 250, 100, 250, 250, 250, 250, 250, 200, 150, 200,
       200, 150, 250,  50, 250, 100, 250, 150, 250, 100, 250, 200,  50,
       300, 150, 100,  50, 300, 150, 200,  50, 100, 250,  50, 150, 100,
       300, 150, 200, 150, 250, 200, 100, 200, 150, 150, 150, 200, 250,
       250, 200, 100, 150, 150, 250, 250, 150, 150, 200, 150, 150, 150,
       200,  50, 150,  50, 300,  50, 100, 350, 150, 250, 150, 100, 100,
       100, 150, 150, 250,  50, 100, 150, 100, 150,  50,  50, 100, 150,
       200, 200, 100, 100, 150, 100, 100, 200, 100, 150, 100, 150, 250,
       150, 150, 100, 100, 200, 100, 100, 250,  50, 250, 300, 150, 150,
       250, 100, 100,  50, 200, 200, 150, 150, 150, 250, 150, 200, 200,
       150,  50, 200, 250, 200, 250, 150, 200, 200, 150, 200, 150, 250,
       150, 200, 150, 150, 200, 100, 100,  50, 150, 250, 250, 150, 150,
       150, 150, 100, 150,  50, 100, 250, 100, 200, 200, 150, 150, 150,
       100, 150, 100, 150, 150, 150,  50, 150, 250, 150, 200, 250, 100,
        50, 250, 150, 150,  50,  50, 200, 100, 350, 150, 200, 150, 250,
       350, 100, 100, 250, 200, 200,  50,  50, 100, 150, 300, 200, 250,
       100, 200, 150, 150, 150,  50, 150, 150, 200, 150, 150, 200, 250,
       100, 100, 150, 200, 200, 150, 150, 200, 150, 100, 100, 100, 150,
       250, 150, 250,  50, 200, 200, 200, 150, 100, 150, 150, 250, 150,
       200, 200, 250], dtype=int64)

In [18]:
from sklearn.metrics import confusion_matrix

In [19]:
confusion_matrix(y_test,y_pred)

array([[ 6,  1,  4,  5,  3,  0,  0],
       [11, 20, 20,  6,  3,  0,  1],
       [11, 21, 45, 15,  9,  0,  0],
       [12, 14, 42, 29, 16,  4,  3],
       [ 5,  6, 21, 13, 30,  0,  2],
       [ 0,  5, 10,  1,  5,  5,  0],
       [ 1,  5,  6,  2,  1,  0,  0]], dtype=int64)

In [20]:
from sklearn.metrics import accuracy_score

In [21]:
accuracy_score(y_test,y_pred)

0.3221957040572792

In [22]:
# Random forest model

In [38]:
no_of_decisiontrees=[10,20,30,40,50,60,70,80,90,100]
max_no_of_features=['sqrt','log2']
max_depth_of_decisiontree=[10,11,12,13,14,15,16,17,18,19,20,22,24,26,28,30]
criterion_decisiontree=['gini','entropy']
min_sample_split=[2,3,4,5,6,7,8,9,10]

In [39]:
random_grid={
    'n_estimators':no_of_decisiontrees,
    'max_features':max_no_of_features,
    'max_depth':max_depth_of_decisiontree,
    'criterion':criterion_decisiontree,
    'min_samples_split':min_sample_split
}

In [40]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()

In [41]:
from sklearn.model_selection import RandomizedSearchCV

In [42]:
rscv=RandomizedSearchCV(estimator=rf,param_distributions=random_grid,n_jobs=-1)

In [43]:
rscv.fit(x_train,y_train)

RandomizedSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
                   param_distributions={'criterion': ['gini', 'entropy'],
                                        'max_depth': [10, 11, 12, 13, 14, 15,
                                                      16, 17, 18, 19, 20, 22,
                                                      24, 26, 28, 30],
                                        'max_features': ['sqrt', 'log2'],
                                        'min_samples_split': [2, 3, 4, 5, 6, 7,
                                                              8, 9, 10],
                                        'n_estimators': [10, 20, 30, 40, 50, 60,
                                                         70, 80, 90, 100]})

In [44]:
rscv.best_params_

{'n_estimators': 20,
 'min_samples_split': 6,
 'max_features': 'sqrt',
 'max_depth': 18,
 'criterion': 'gini'}

In [45]:
rf_final=RandomForestClassifier(n_estimators=20,min_samples_split=6,max_features='sqrt',max_depth=18,criterion='gini')

In [46]:
rf_final.fit(x_train,y_train)

RandomForestClassifier(max_depth=18, max_features='sqrt', min_samples_split=6,
                       n_estimators=20)

In [47]:
y_pred_final=rf_final.predict(x_test)

In [48]:
y_pred_final

array([100, 150, 200, 150, 200, 150, 150, 150, 150, 200, 150, 100, 150,
       150, 150, 250, 150, 200, 150, 150, 150, 150, 150, 150, 150, 250,
       250, 250, 150, 250, 150, 150, 100, 150, 150, 150, 150, 150, 150,
       150, 250, 100, 150, 150, 100, 200, 150, 150, 150, 150, 150, 150,
       250, 150, 200, 100, 150, 150, 250, 150, 250, 150, 200, 100, 150,
       150, 100, 100, 200, 200, 100, 150, 150, 150, 150, 200, 150, 150,
       150, 250, 150, 200,  50, 150, 150,  50, 150, 100, 150, 150, 150,
       150, 250, 150, 150, 150, 200, 150, 250, 150, 200,  50, 150, 200,
       100, 200, 200, 150, 150, 150, 200, 150, 150, 150, 200,  50, 150,
       200, 200, 150, 150, 150, 150, 150, 200, 150, 250, 200, 150, 250,
       150, 150, 150, 150, 150, 150, 150, 150,  50, 150, 100, 200, 150,
       150, 150, 150, 150, 200, 150, 200, 150, 200, 150, 200, 150, 100,
       150, 200, 150, 200, 200, 150, 150, 150, 150, 150, 150, 150, 150,
       200, 150, 150, 250, 150, 250, 250, 150, 150, 150, 200, 150, 150,
       200, 150, 250, 150, 200, 150, 150, 200, 250, 200, 200, 150, 150,
       300, 150, 100, 100, 150, 150, 150, 100, 100, 250, 150, 150, 100,
       200, 150, 200, 150, 250, 200, 150, 150, 150, 150, 150, 200, 150,
       250, 200, 100, 150, 150, 150, 250, 150, 150, 150, 150, 150, 200,
       150, 150, 150, 150, 300, 150, 150, 150, 150, 150, 150, 150, 200,
       150, 150, 150, 250, 150, 150, 150, 150, 150, 150, 150, 150, 150,
       150, 200, 100, 150, 150, 150, 150, 200, 150, 150, 100, 150, 250,
       150, 150, 150, 150, 150, 150, 100, 150, 150, 150, 200, 150, 150,
       150, 150, 100, 200, 200, 200, 150, 150, 150, 150, 150, 200, 200,
       150, 150, 150, 200, 150, 250, 150, 200, 150, 200, 200, 150, 150,
       150, 200, 150, 150, 200, 150, 100, 250, 150, 250, 250, 150, 150,
       150, 150, 150, 150,  50, 150, 150, 100, 150, 200, 150, 250, 150,
       100, 150, 150, 150, 150, 150, 150, 150, 150, 150, 150, 250, 150,
       150, 250, 150, 150, 150, 150, 150, 150, 200, 150, 150, 150, 150,
       200, 200, 150, 150, 200, 250, 150, 150, 150, 150, 300, 200, 250,
       150, 200, 150, 150, 150, 150, 150, 200, 200, 150, 150, 150, 250,
       100, 150, 150, 200, 200, 150, 150, 200, 150, 100, 150, 100, 150,
       150, 150, 150, 150, 150, 250, 250, 150, 150, 150, 150, 250, 150,
       150, 200, 150], dtype=int64)

In [49]:
accuracy_score(y_test,y_pred_final)

0.35083532219570407